{% extends "base.html.twig" %}


{% block body %}
<h1>liste des utilisateurs</h1>

<ul>
    {% for user in result.rows %}
        <li><
            span id='userId{{user.id}}'>{{user.id}}</span>-
            <span id ='userName{{user.name}}'>{{user.name}}</span>-
            <span id ='userPassword{{user.password}}'>{{user.password}}</span>-
            <span id='userCreatedAt{{user.created_at}}'>{{user.created_at}}</span><a href="user/{{user.id}}">voir plus</a> 
            <button type="button" onclick="editUser('{{user.id}}','{{user.name}}','{{user.password}}')">Edit user</button>
        </li>
    {% endfor %} 
</ul>


<script>
    function editUser(id, name, password) {
        let inputId = document.getElementById("inputId");
        let inputName = document.getElementById("inputName");
        let inputPassword = document.getElementById("inputPassword");
        let inputSubmit = document.getElementById("inputSubmit");

        inputSubmit.removeEventListener("click", editUserRequest);

        inputId.value = id;
        inputName.value = name;
        inputPassword.value = password;
        inputName.style.visibility = "visible";
        inputPassword.style.visibility = "visible";
        inputSubmit.style.visibility = "visible";

        inputSubmit.addEventListener("click", editUserRequest);
    }

    function editUserRequest() {
        let inputId = document.getElementById("inputId");
        let inputName = document.getElementById("inputName");
        let inputPassword = document.getElementById("inputPassword");
        let xhttp = new XMLHttpRequest();
        xhttp.addEventListener("load", function () {
            if (this.readyState === 4 && this.status === 200) {
                // Typical action to be performed when the document is ready:
                alert(xhttp.responseText);
            } else {
                alert(xhttp.responseText);
            }
        });
        xhttp.open("POST", "http://localhost:3000/user/" + inputId.value);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({
            "name": inputName.value,
            "newpassword": inputPassword.value,
            adminPassword: "7FERGsd9$!wpgnvm#"
        }));
    }

    let form = document.createElement("form");
    console.log(form);

    let inputId = document.createElement("input");
    inputId.setAttribute('id', "inputId");
    inputId.setAttribute('type', "text");
    inputId.setAttribute('name', "userId");
    inputId.style.visibility = "hidden";

    let inputName = document.createElement("input");
    inputName.setAttribute('id', "inputName");
    inputName.setAttribute('type', "text");
    inputName.setAttribute('name', "username");
    inputName.style.visibility = "hidden";

    let inputPassword = document.createElement("input");
    inputPassword.setAttribute('id', "inputPassword");
    inputPassword.setAttribute('type', "text");
    inputPassword.setAttribute('name', "password");
    inputPassword.style.visibility = "hidden";

    let inputSubmit = document.createElement("input");
    inputSubmit.setAttribute('id', "inputSubmit");
    inputSubmit.setAttribute('type', "button");
    inputSubmit.setAttribute('value', "Editer !");
    inputSubmit.style.visibility = "hidden";

    form.appendChild(inputName);
    form.appendChild(inputPassword);
    form.appendChild(inputSubmit);
    form.appendChild(inputId);

    document.getElementsByTagName('body')[0].appendChild(form);
</script>
{% endblock %}