<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>les utilisateurs</title>
</head>
<body>

    
    
   
    <% if (methode !== "delete") { %>

        <h1>user a l'id : <%= info.id %></h1>
        <h1> Nom :  <%= info.name %></h1>
        <h3><%= info.created_at %></h3>
        <h4><%= info.password %></h4>

      <% } %>

      <% if (methode === "delete") { %>
        <h2>supprimer avec succes</h2>
      <% } %>


      <form id="form">

        <label>noms:</label><br>
        <input type="text" id="name" name="name" value="<%= info.name %>"><br>
        <label>passWord:</label><br>
        <input type="text" id="pass" name="password" value="<%= info.password %>">
        <input type="text" id="pass" name="newpassword" value="" placeholder="new pass">
        <input type="submit" value="valider" class="btn btn-primary" id ="btnmodal">

    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script type="text/javascript">



const form = document.getElementById("form");
var data = new FormData(form);
console.log(form);
form.addEventListener('submit',function(e){
    e.preventDefault();
    var data = new FormData(this);

    console.log(data);

    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
        if(this.readyState ==4 && this.status == 200){

        console.log(this.response);

        }else if(this.readyState == 4){
            alert(" prolémes....");
        }

        xhr.open("POST", "http://localhost:3000/user/1");
        xhr.send(data);

    }



    return false;
})


</script>
</body>
</html>